* {
    font-family: 'Cormorant Garamond', serif;
    font-size: 105%;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

.navbar-collapse {
    font-weight: bold;
}

body {
    background-image: url("../images/532.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/*if screen is big enough, pad the left side of the navbar*/
@media (min-width: 970px) {
    .navbar-brand {
        padding-left: 70%;
    }
}
