h1, h2, p {
    font-family: 'Garamond';
}

canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#canvas-container:hover {
    /*cursor: not-allowed;*/
    /*cursor: url(images/my-cursor.png), auto;*/
}